* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 24px;
    background: #FFFFFF;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    position: sticky;
    top: 0;
    z-index: 100;
}

body{
    background-color: #f5f7fa;
    min-width: 100%;  
    min-height: calc(105vh - 120px);
}
.dashboard-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  grid-auto-rows: auto;                   
  gap: 20px;
  padding: 32px 24px;
  max-width: 1200px;
  margin: 0 auto;
}
.dashboard-card{
    width: 296px;
    height: 126px;
    background-color: #FFFFFF;
    border-radius: 4px;
    padding: 8px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.05);
    transition: transform 0.3s, box-shadow 0.3s;
}
.card-header{
    display: flex;
    gap: 12px;
}
.card-id-status{
    display: flex;
    justify-content: space-between;
    width: 212px;
}

.card-id,
.card-value{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 4px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.38);
}
.card-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 4px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 212px;
}
.card-value-img{
    display: flex;
    gap: 4px;
}
.card-actions{
    display: flex;
    justify-content: end;
    margin-right: 16px;
    gap: 14px;
}
.card-error{
    display: flex;
    gap: 4px;
}
.card-error p{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    padding: 4px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.12);
}
.status-busy{
    display: flex;
    gap: 4px;
    width: 71px;
    height: 24px;
    padding: 3px 8px;
    text-align: center;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}
.status-busy span{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(15, 145, 230, 1);
}
.status-busy img{
    width: 16px;
    height: 16px;
}

.custom-select-wrapper {
  position: relative;
  display: inline-block;
}

.custom-select {
    appearance: none;          
    -webkit-appearance: none;  
    -moz-appearance: none;    
    width: 94px;
    height: 24px; 
    padding-left: 24px; 
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.6);
}

.custom-select-wrapper::before {
  content: url('/images/expand.svg');
  position: absolute;
  left: 4px;
  top: 60%;
  transform: translateY(-50%);
  font-size: 16px;
  pointer-events: none;
}

