.description-block{
    margin: 32px 16px 8px 16px;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(222, 222, 222, 1);
    width: 1256px;
}
.description-row{
    display: flex;
    flex-direction: column;
    padding-bottom: 8px;
}
.description-label{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.38);
}
.description-value{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.87);
}
.nav{
    border-bottom: 1px solid rgba(222, 222, 222, 1);
}